@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

body {
  background-color: black;
}

.anticon-play-circle:hover {
  font-size: 160px !important;
}
.slick-dots li {
  background: #1890ff !important;
}
.slick-dots li.slick-active button {
  background: #1890ff !important;
}
